In [2]:
# パッケージの読み込み
import pandas as pd
from pycaret.regression import *

In [3]:
# 使用するデータの読み込み
fanza_data = pd.read_csv('fanza_genre_2007.normalize.csv')

In [4]:
fanza_data.head()

,Unnamed: 0,service_code,service_name,floor_code,floor_name,category_name,content_id,product_id,title,volume,date,review.count,review.average,sampleMovieURL.pc_flag,sampleMovieURL.sp_flag,prices.price,prices.list_price
0,0,digital,動画,videoa,ビデオ,ビデオ (動画),57jksr00492,57jksr00492,私脱いだらスゴイんです…だらしないカラダのエロ年増たち12人4時間,240,2021-04-24 10:00:00,14.0,5.0,1.0,1.0,500~,500~
1,1,digital,動画,videoa,ビデオ,ビデオ (動画),bijn00185,bijn00185,THE ドキュメント 本能丸出しでする絶頂SEX ムッチリ肉感ド変態若妻 大浦真奈美,132,2020-09-18 10:00:12,11.0,5.0,1.0,1.0,300~,300~
2,2,digital,動画,videoa,ビデオ,ビデオ (動画),juny00042,juny00042,遂に解禁！白ムチ大絶頂爆尻快感アナルファック ジューン・ラブジョイ,159,2021-09-03 10:00:43,9.0,5.0,1.0,1.0,250~,500~
3,3,digital,動画,videoa,ビデオ,ビデオ (動画),57mcsr00413,57mcsr00413,豊満爆乳美熟女 10人4時間,243,2020-10-24 10:00:00,9.0,5.0,1.0,1.0,500~,500~
4,4,digital,動画,videoa,ビデオ,ビデオ (動画),avsa00163,avsa00163,超密着接写 爆乳豊満ハメ狂い 羽生アリサ,133,2021-04-10 10:00:46,8.0,5.0,1.0,1.0,500~,500~

In [5]:
# PyCaretを起動する
exp1 = setup(fanza_data, target = 'review.average', ignore_features = None)

In [5]:
# モデルの比較
compare_models()

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=814, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [6]:
# モデルを作成
model = create_model('gbr')

In [7]:
save_model(model ,model_name = 'model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=['Unnamed: 0'],
                                       ml_usecase='regression',
                                       numerical_features=[],
                                       target='review.average',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=Non...
                                            learning_rate=0.1, loss='ls',
                                            max_depth=3, max_features=None,
                                            max_leaf_nodes=None,
                                            min_impurity_decrease=0.0,
                                            min_impurity_split=None,
                                            min_samples_leaf=1,
                                            min_samples_split=2,
                                            min_weight_fraction_leaf=0.0,
                                            n_estimators=100,
                                            n_iter_no_change=None,
                                            presort='deprecated',
                                            random_state=5386, subsample=1.0,
                                            tol=0.0001, validation_fraction=0.1,
                                            verbose=0, warm_start=False)]],
          verbose=False),
 'model.pkl')

In [8]:
# 解析結果の確認
evaluate_model(model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [10]:
#モデルの確定
final_model = finalize_model(model)
print(final_model)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=5386, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [5]:
final_model = load_model('model')
unseen_predictions = predict_model(final_model, data = fanza_data)

Transformation Pipeline and Model Successfully Loaded

In [7]:
unseen_predictions.to_csv("result.csv")